
<li class="nav-item  start active open">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Domotique</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">

        <li class="nav-item start  start active open">
            <a href="{{ path('admin_domotique_sensor_log_index') }}" class="nav-link ">
                <i class="entypo entypo-database"></i>
                <span class="title"> les Logs</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{{ path('admin_domotique_modules') }}" class="nav-link ">
                <i class="fa fa-puzzle-piece"></i>
                <span class="title"> les modules</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{{ path('admin_module_emplacement') }}" class="nav-link ">
                <i class="entypo-compass"></i>
                <span class="title"> les Emplacements</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{{ path('admin_domotique_sensor_type_index') }}" class="nav-link ">
                <i class="entypo-air"></i>
                <span class="title"> les Types</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{{ path('admin_sensor_unit') }}" class="nav-link ">
                <i class="entypo-language"></i>
                <span class="title"> les Unit</span>
            </a>
        </li>


    </ul>
</li>