{% extends 'BackOfficeBundle:Metronic:body-page-content-managed_datatables.html.twig' %}

{% set title_page = 'type de sonde' %}
{% set path_entity_new = 'd' %}
{#{{ path('admin_sensor_type_new') }}#}

{% block content_txt %}
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{% for entity in entities %}
    <tr class="odd gradeX">
        <td><a href="{{ path('admin_sensor_type_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.name }}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('admin_sensor_type_show', { 'id': entity.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('admin_sensor_type_edit', { 'id': entity.id }) }}">edit</a>
                </li>
            </ul>
        </td>
    </tr>
{% endfor %}
{% endblock content_txt %}
