{% extends 'BackOfficeBundle:Metronic:body-page-content-managed_datatables.html.twig' %}

{% set title_page = 'unite de sondes' %}
{% set path_entity_new = 'd' %}
{#{{ path('admin_sensor_type_new') }}#}

{% block content_txt %}
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{% for entity in entities %}
    <tr class="odd gradeX">
        <td>{{ entity.id }}</td>
        <td>{{ entity.name }}</td>
        <td>
            <div class="btn-toolbar margin-bottom-10">
                <div class="btn-group btn-group-sm btn-group-solid">
                    {#<a class="btn blue" href="{{ path('admin_domotique_sensor_type_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>#}
                    <a class="btn blue" href="{{ path('admin_domotique_sensor_type_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
{% endblock content_txt %}
