{% extends 'BackOfficeBundle:Metronic:body-page-content-managed_datatables.html.twig' %}

{% set title_page = 'Emplacement des modules' %}
{% set path_entity_new = 'd' %}
{#{{ path('admin_module_emplacement_new') }}#}

{% block content_txt %}
<tr>
    {#<th> </th>#}
    <th class="col-md-2">Id</th>
    <th class="col-md-4">Name</th>
    <th class="col-md-2">Actions</th>
</tr>
</thead>
<tbody>
{% for entity in entities %}
    <tr class="odd gradeX">
        {#<td>s</td>#}
        <td><a href="{{ path('admin_module_emplacement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.name }}</td>
        <td>
            <div class="btn-toolbar margin-bottom-10">
                <div class="btn-group btn-group-sm btn-group-solid">
                    {#<a class="btn blue" href="{{ path('admin_module_emplacement_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>#}
                    <a class="btn blue" href="{{ path('admin_module_emplacement_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
{% endblock content_txt %}
